* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.footer {
  margin-top: 10px;
  width: 200%;
  padding: 50px 15%;
  background: #333;
  color: #efef;
  display: flex;
}
.footer div {
  text-align: center;
}
.col-2 {
  flex-grow: 4;
  position: relative;
  text-align: justify;
  margin-left: 100px;
}
.footer div h2 {
  font-weight: 200;
  margin-bottom: 50px;
  letter-spacing: 1px;
}
.col-1 {
  display: block;
  text-decoration: none;
  color: #efef;
  margin-bottom: 10px;
  text-align: left;
}
form input {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}
form button {
  background: transparent;
  border: 4px solid #fff;
  color: #fff;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 20px;
}

.bottom {
  background: #333;
}
.bottom h6 {
  text-align: center;
  font-family: sans-serif;
  color: #efef;
}
a {
  color: #efef;
}
a:hover {
  color: coral;
}
a:active {
  color: red;
}
form button:hover {
  color: coral;
}
.social-media-links {
  font-size: 30px;
  letter-spacing: 4px;
}
